[Unit]
Description=Starts Shellinabox Daemon for invis Servers
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/shellinaboxd --service=/:LOGIN --disable-ssl --localhost-only
Restart=always

[Install]
WantedBy=multi-user.target
